### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
Heroes_Data_path = "Resources/04-Pandas_Homework_HeroesOfPymoli_Resources_purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
Heroes_Data_df = pd.read_csv(Heroes_Data_path, encoding="utf-8")
Heroes_Data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [26]:
total_players = len(Heroes_Data_df["SN"].unique())

print(total_players)

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [27]:
unique_items = len(Heroes_Data_df["Item ID"].unique())

average_price = Heroes_Data_df["Price"].mean()

num_purchases = Heroes_Data_df["Purchase ID"].count()

total_revenue = Heroes_Data_df["Price"].sum()

summary_df = pd.DataFrame({"Number of Unique Items": [unique_items],
                          "Average Price": average_price,
                          "Number of Purchases": num_purchases,
                          "Total Revenue": total_revenue})

print(summary_df)

   Number of Unique Items  Average Price  Number of Purchases  Total Revenue
0                     179       3.050987                  780        2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [35]:
gender_count = Heroes_Data_df["Gender"].value_counts()

gender_percent = gender_count/780*100

print(gender_count)
print(gender_percent)

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64
Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [37]:
grouped_gender_df = Heroes_Data_df.groupby(["Gender"]) 

print(grouped_gender_df)

grouped_gender_df.count().head(10)

print(grouped_gender_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f8e20bf2b20>
<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f8e20bf2b20>

In [38]:
summary = grouped_gender_df.describe().head(10)
print(summary)

                      Purchase ID                                        \
                            count        mean         std   min     25%
Gender
Female                      113.0  379.380531  211.605484  15.0  199.00
Male                        652.0  392.516871  227.516414   0.0  193.75
Other / Non-Disclosed        15.0  334.600000  234.524991   9.0  169.50

                                               Age             ... Item ID  \
                         50%     75%    max  count       mean  ...     75%
Gender                                                         ...
Female                 392.0  558.00  775.0  113.0  21.345133  ...   129.0
Male                   390.5  592.25  779.0  652.0  22.917178  ...   139.0
Other / Non-Disclosed  291.0  516.50  747.0   15.0  24.200000  ...   141.0

                              Price                                          \
                         max  count      mean       std   min     25%   50%
Gender
Female                 183.0  113.0  3.203009  1.158194  1.00  2.2800  3.45
Male                   183.0  652.0  3.017853  1.175625  1.00  1.9625  3.09
Other / Non-Disclosed  163.0   15.0  3.346000  0.883813  1.33  3.1000  3.45


                         75%   max
Gender
Female                 4.230  4.90
Male                   4.080  4.99
Other / Non-Disclosed  3.875  4.75

[3 rows x 32 columns]

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [11]:
bins = [0, 10, 14, 19, 24, 29, 34, 39, 50000]

group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [14]:
pd.cut(Heroes_Data_df["Age"], bins, labels=group_names).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [15]:
Heroes_Data_df["Age Group"] = pd.cut(Heroes_Data_df["Age"], bins, labels=group_names)
Heroes_Data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [17]:
purchase_unique_items = len(Heroes_Data_df["Item ID"].unique())

purchase_average_price = Heroes_Data_df["Price"].mean()

purchase_num_purchases = Heroes_Data_df["Purchase ID"].count()

purchase_total_revenue = Heroes_Data_df["Price"].sum()

purchase_age = Heroes_Data_df["Age"].count()

purchase_summary_df = pd.DataFrame({"Number of Unique Items": [purchase_unique_items],
                          "Average Price": purchase_average_price,
                          "Number of Purchases": purchase_num_purchases,
                          "Age": purchase_age,          
                          "Total Revenue": purchase_total_revenue})

In [20]:
Purchase_bins = [0, 10, 14, 19, 24, 29, 34, 39, 50000]

Purchase_group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [24]:
purchase_count = Heroes_Data_df["Purchase ID"].count()

average_purchase_price = Heroes_Data_df["Price"].mean()

total_purchase_value = purchase_count*["Price"]

SN = Heroes_Data_df["SN"]

SN_summary_df = pd.DataFrame({"Purchase Count": purchase_count, "Average Purchase Price": average_purchase_price,
"Total Purchase Value": total_purchase_value, "SN": SN})

grouped_SN_df = SN_summary_df.groupby(["SN"]) 

print(grouped_SN_df)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7f8e20dc2040>

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80